@font-face {
    font-family: Segoe;
    font-style: normal;
    font-weight: normal;
    src: url(Segoe.ttf);
}
body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background: #FFFFFF no-repeat url("../img/placa.jpg");
    color: #666666;
    font-family: "Tahoma";
    overflow: hidden;
}

/*   FORM STYLES   */
form {
    margin-top: 0px;
    margin-left: 10px;
    display: block;
}
form div.small {
    width: 90px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
}
form div.xsmall {
    width: 140px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
}
form div.xxsmall {
    width: 190px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
}
form div.medium {
    width: 240px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
}
form div.xmedium { 
    width: 440px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
}
form div.xxmedium {
    width: 600px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
}
form div.large {
    width: 100%;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
}
form div.row {
 width: 100%;
 position: relative;
 display: inline-block;
}
form label {
    font-size: 10px;
    font-weight: bold;
}
form input, form textarea, form select, form div.texto {
    width: 98%;
    position: relative;
    display: block;
}
form button {
    width: 100%;
    position: relative;
    display: block;
    font-variant: small-caps;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #666666;
    border: 1px dashed #999999;
    background-color: transparent; 
}
form button:link, form button:visited {
    color: #666666;
    border: 1px dashed #999999;
    background-color: transparent; 
}
form button:hover {
    color: #336033;
    border: 1px dashed #666666;
    background-color: #E0E0E0; 
}
.panel-form {
    width: 100%;
    float: left;
    margin: 0px;
    margin-left: 5px;  
    background-image: url("../img/point.png");
    border-top: 1px #999999 solid;
}

/*   HEADER STYLES   */
.header {
    width: 100%;
    position: relative;
    background-color: #333333;
    top: 0px;
    left: 0px;
    font-family: "Segoe";
    overflow: hidden;
}
.header div {
    position: relative;
    left: 185px;
  
}
.header div img {
   margin: 3px 0px 5px 0px;
}

/*   MENU STYLES   */
.neacker {
    height: 20px;
    position: relative;
    padding: 5px;
    top: 0px;
    left: 0px;
    font-family: "Segoe";
    background-color: #3A522D;
    overflow: hidden;
}
.neacker .menu {
    position: relative;
    left: 180px;
    overflow-y: hidden;
}
.neacker .menu div {
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    font-size: 12px;
    margin-right: 35px;
    color: #000000;
}
.neacker span {
  position: relative; 
  vertical-align: middle;
  font-family: Segoe;
  font-size: 12px;
  cursor: pointer;
  color: #9FCD00;
}
.neacker span:link, .neacker span:visited {
  color: #9FCD00;
}
.neacker span:hover {
  color: #FFFFFF;
}

/*   GRID STYLES   */
.grid {
    margin: 5px;  
    margin-top: 0px;  
}
.grid .row {
    background-image: url("../img/point white.png");
    box-shadow: 0px 1px 2px 0px rgb(100, 100, 100); 
    border-bottom: 1px transparent solid;
    margin: 10px;
    padding: 10px;
    color: #333333;
    cursor: pointer;
}
.grid .row:link,.grid .row:visited {
    background-image: url("../img/point white.png");
    color: #333333;
}
.grid .row:hover {
    background: #F0F0F0;
    color: #336033;
}
.panel-grid {
    width: 100%;
    float: left;
    margin: 0px;
    margin-left: 5px;
    background-image: url("../img/point.png");  
    border-top: 1px #999999 solid;
    border-bottom: 1px #999999 solid;
}

/*   BODY STYLES   */
.bodier {
    width: 100%;
    height: 80%;
    position: absolute;
    overflow: auto;
}
.section-mid {
    width: 800px;
    height: 90%;
    position: relative;
    left: 180px;
    padding: 5px;
}
.title-large {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30px;
    font-family: "Segoe";
    color: #9FCD66;
}
.title-medium {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Segoe";
    color: #6F9D66;
}
.title-small {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: "Segoe";
    font-variant: small-caps;
    color: #666666;
}
.container {
    max-height: 460px;  
}
.icon {
    width: 25px;
    height: 25px;
    margin: 10px;
    text-align: center;
    float: right;
    font-size: 32px;
    line-height: 50%;
    font-family: "Segoe";
    color: #666666;
    cursor: pointer;
    border: 1px dashed #999999;
    background-color: transparent; 
}
.icon:link, .icon:visited {
    color: #666666;
    border: 1px dashed #999999;
    background-color: transparent; 
}
.icon:hover {
    color: #336033;
    border: 1px dashed #666666;
    background-color: #F0F0F0; 
}
.section-hr {
    border-bottom: 0px #333333 solid; 
}